.app {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.todo {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;

    width: 50%;
    border: 1px solid #000;
}

header {
    margin-bottom: 2rem;
}

form {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid rgb(200, 230, 230);
    padding-bottom: 2rem;
    
}
.submit-btn {
    background-color: #FB6C6F;
    padding: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn svg {
    font-size: 1.6rem;
    color: #fff;
}

.submit-btn:hover {
    filter: brightness(0.80);
    transition: 0.4s
}

.input-submit {
    padding: 1rem 2rem;
    background-color: rgb(244, 243, 243);
    width: 100%;
    border-radius: 6px;

    font-family: Raleway, "Helvetica Neue", Helvetica;
    font-size: 1.2rem;
}

.check-title {
    display: flex;
    gap: 20px;
    font: 1.2rem;
    align-items: center;
    justify-content: center;
}

.check-title p {
    font-size: 1.5rem;
}

.check-title svg {
    margin-left: 250px;
    font-size: 1.5rem;
 
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(200, 230, 230);
    margin-bottom: 20px;
    padding: 10px;
}


.task-container-completed {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(200, 30, 30);
    background-color: rgb(200, 30, 30);
    margin-bottom: 20px;
    padding: 8px;
    color: #babaca;
    text-decoration: line-through;
    
}
